:root {
    --color1: #fa9500;
    --color3: #ff5900;

}

.form {
    margin: 20px;
}

.form input {
    border-radius: 3px;
    transition: border-color 0.5s;
    transition: background-color 2s;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px !important;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 400px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
}

.form input::placeholder,
.form textarea::placeholder {
    color: white;
}

.form input:focus,
.form textarea:focus {
    transition: border-color 1s;
    outline: none;
    border: solid 2px white;
    background-color: rgb(255, 147, 59);
}

.form textarea {
    margin-bottom: 10px;
    border-radius: 3px;
    transition: border-color 0.5s ease;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: white;
    height: 200px;
    width: 400px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.submit-button {
    transition: border-color 0.3s ease;
    border-radius: 3px;
    border: solid 2px transparent;
    width: 400px;
    height: 40px;
    line-height: 1.1rem;
    background-color: var(--color1);
}

.submit-button:hover {
    border: solid 2px white;
}

.submit-button:active {
    background-color: #c47704;

}