:root {
  --color1: #fa9500;
  --color3: #ff5900;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.oswald,
.oswald-submit,
.oswald-about {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.oswald-submit,
.oswald-about {
  margin-left: 20px;
  letter-spacing: 0;
}

.oswald-about {
  max-width: 800px;
}

.bebas-neue-h1,
.bebas-neue-navbar,
.bebas-neue-form {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-h1 {
  letter-spacing: 0.2rem;
}

.bebas-neue-navbar {
  font-size: 2rem;
}

.bebas-neue-form {
  font-size: 1.5rem;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color1);
}

.title h1,
.home-title h1 {
  font-size: 8rem;
  line-height: 0.9;
  margin: 0;
  padding: 0;
}

.title h1 {
  font-size: 4rem;
}


.home,
.content {
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  z-index: 2;
}

.home {
  justify-content: center;
}

.content {
  top: 150px;
}

.title,
.home-title {
  margin-left: 20px;
  position: relative;
  animation: titleEntry 2s ease forwards;
}

.home-title p {
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  margin: 0;
  font-size: 3rem;
}

.logo-link {
  margin-left: 20px;
  display: flex;
  place-items: center;
}

.navbar {
  position: absolute;
  margin: 0px;
  height: 150px;
  width: 100vw;
  z-index: 3;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto
}

.navbar-logo {
  width: 50px;
}

.link-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  transition: opacity 0.5s linear;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 0.5s;
  background-color: var(--color3);
  border-radius: 5px 0 0 0;
  height: 7px;
  content: "";
  position: absolute;
}

.nav-link-fade-up::before {
  width: 50%;
  bottom: -10px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  width: 100%;
  bottom: 0px;
  opacity: 1;
}

.nav-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link:focus {
  text-decoration: none;
  color: var(--color3);
}

@keyframes titleEntry {
  0% {
    bottom: 80px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}